<div class="page-wrap">
  <mat-toolbar color="accent" *ngIf="isLoggedIn$ | async">
    <button
      type="button"
      mat-icon-button
      (click)="isExpanded = !isExpanded"
      title="Navigation panel">
      <mat-icon matTooltip="Options"
                matTooltipPosition="right">menu
      </mat-icon>
    </button>
    <button [routerLink]="['/']" class="header"
            mat-button>
      <h1>HUMHERE</h1>
    </button>

    <span class="spacer"></span>
    <button
      mat-icon-button>
      <mat-icon matTooltip="Notifications"
                matTooltipPosition="left">message
      </mat-icon>
    </button>

    <button id="menuBtn" mat-button [matMenuTriggerFor]="menu" class="header">
      <mat-icon matTooltip="Manage" matTooltipPosition="right">account_circle</mat-icon>
      User
    </button>

    <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item>Company settings</button>
      <button mat-menu-item>Account & Profile</button>
      <button mat-menu-item>Payout Information</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="authService.logout()" [routerLink]="['login']">Logout</button>
    </mat-menu>

  </mat-toolbar>
  <mat-sidenav-container class="all-wrap" autosize>

    <mat-sidenav #sidenav class="side-nav" mode="side" opened="true" *ngIf="isLoggedIn$ | async">
      <mat-nav-list>

        <a nav-item class="nav-link mat-list-item" [routerLink]="['/']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matTooltip="Dashboard"
                    matTooltipPosition="left">dashboard
          </mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
        </a>
        <a nav-item class="nav-link mat-list-item link" [routerLink]="['/bookings']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matTooltip="Bookings"
                    matTooltipPosition="left">perm_contact_calendar
          </mat-icon>
          <span *ngIf="isExpanded">Bookings</span>
        </a>
        <a nav-item class="nav-link mat-list-item" [routerLink]="['/listings']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matTooltip="Listings"
                    matTooltipPosition="left">list
          </mat-icon>
          <span *ngIf="isExpanded">Listings</span>
        </a>
        <a nav-item class="nav-link mat-list-item" [routerLink]="['/reviews']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matTooltip="Reviews"
                    matTooltipPosition="left">grade
          </mat-icon>
          <span *ngIf="isExpanded">Reviews</span>
        </a>
        <a nav-item class="nav-link mat-list-item" [routerLink]="['/settings']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matTooltip="Settings"
                    matTooltipPosition="left">settings
          </mat-icon>
          <span *ngIf="isExpanded">Settings</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>


    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
  <footer>
    &copy; HumHere 2018
  </footer>

</div>

